{% extends 'core/_base.html' %}
{% load static %}

{% block title %}room name {% endblock title %}
{% block extra_head %}
{% endblock extra_head %}

{% block content %}
    <section class="lobby-section" id="lobby-section">
        <div class="container">
            <h2>Welcome to the Game Room</h2>
            <h3>Active Players:</h3>
            <ul class="list-unstyled player-list" id="player-list">
            </ul>

            <div class="chat-box mt-4 p-3 rounded">
                {% include 'core/game_rules.html' %}
                <div class="wrapper" id="chat-box">

                </div>

            </div>
        </div>
        <div class="chat-input d-flex">
            <textarea placeholder="Type your message..." id="player-message" cols="100"></textarea>
            <button class="btn btn-secondary" id="send-button">Send</button>
        </div>
        <div id="emoji-container" class="emoji-container"></div>
            <button type="button" class="btn btn-success start-button mt-4" id="start-button">
                Start Game
            </button>
    </section>

{% endblock content %}


{% block extra_script %}
    <script type="text/javascript">
        const roomName = '{{ game_room.room_name }}'
        const user = '{{ request.user.username }}';
    </script>
    <script defer type="text/javascript" src="{% static 'js/chatroom.js' %}"></script>

{% endblock extra_script %}

