<h3 class="rule-heading">Game Rules and Regulation</h3>
<div class="rule-wrapper">
    <ol>
    <li><strong>Objective</strong>: Form valid English words from a given base word within a limited time.</li>
    <li><strong>Game Setup</strong>: Join the game room with a unique username. A host manages the game.</li>
    <li><strong>Word Formation</strong>: Use letters from the base word to create valid English words. Rearrange
        letters and use each letter only once.
    </li>
    <li><strong>Word Validation</strong>: Submit words for validation after the time is up. Invalid or misspelled
        words won't be counted.
    </li>
    <li><strong>Scoring</strong>: Earn points for valid words formed.</li>
</ol>

</div>
