{% extends 'core/_base.html' %}
{% load extra_tags %}
{% load static %}

{% block title %}Lobby{% endblock title %}
{% block extra_head %}
    <script defer type="text/javascript" src="{% static 'js/lobby.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/lobby_chat.js' %}"></script>
{% endblock extra_head %}

{% block content %}

    <div id="countdown-container">
        <h1 id="heading"></h1>
        <div id="countdown" class="font-game text-center">5</div>
        <h4 id="quote" class="font-game">
        </h4>
    </div>
    <section class="lobby-section" id="lobby-section" style="display: none;">
        <div class="container">
            <h2>Welcome to the Lobby</h2>
            <h3>Players in the Lobby:</h3>
            <ul class="list-unstyled player-list" id="player-list">
            </ul>

            <div class="chat-box mt-4 p-3 rounded">
                <div class="wrapper" id="chat-box"></div>

            </div>
        </div>
        <div class="chat-input d-flex">
            <textarea placeholder="Type your message..." id="chat-message" cols="100"></textarea>
            <button class="btn btn-secondary" id="send-button">Send</button>
        </div>
        <div id="emoji-container" class="emoji-container"></div>
        {% is_game_creator request lobby.lobby_name as is_game_creator %}
        {% if is_game_creator %}
            <button type="button" class="btn btn-success start-button mt-4" id="start-button">
                Start Game
            </button>
        {% endif %}
    </section>

    {#  get player's name modal #}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nameModal" hidden>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login or Register:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" id="loginRegistrationTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab"
                               aria-controls="login" aria-selected="true">Login</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="registration-tab" data-toggle="tab" href="#registration" role="tab"
                               aria-controls="registration" aria-selected="false">Registration</a>
                        </li>
                    </ul>

                    <!-- Tab content -->
                    <div class="tab-content" id="loginRegistrationTabContent">
                        <!-- Login Tab Content -->
                        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                            <!-- Login Form -->
                            <form class="mt-3 mb-0" method="post">
                                {% csrf_token %}
                                <!-- Add your login form fields here -->
                                <p id="login-error" class="error"></p>
                                <div class="form-group row mb-0 mt-1">
                                    <label for="username" class="col-sm-3">Username:</label>
                                    <input type="text" class="form-control col-sm-8" id="modal-username" name="username"
                                           required>
                                </div>
                                <div class="form-group row mt-1 mb-0">
                                    <label for="password" class="col-sm-3">Password:</label>
                                    <input type="password" class="form-control col-sm-8" id="modal-password"
                                           name="password" required>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <button type="button" class="col-sm-8 mt-1 black-btn btn-block"
                                            onclick="verifyUsername('{% url "accounts:ajax_login_user" %}');">Login
                                    </button>
                                </div>
                                <input type="hidden" id="next" value="{{ request.path }}">
                            </form>
                        </div>

                        <!-- Registration Tab Content -->
                        <div class="tab-pane fade" id="registration" role="tabpanel" aria-labelledby="registration-tab">
                            <!-- Registration Form -->
                            <!-- Login Form -->
                            <form class="mb-0 mt-3" method="post">
                                {% csrf_token %}
                                <!-- Add your login form fields here -->
                                <p id="registration-error" class="error"></p>
                                <div class="form-group row mt-1 mb-0">
                                    <label for="username" class="col-sm-3">Username:</label>
                                    <input type="text" class="form-control col-sm-8" id="register-username"
                                           name="username"
                                           required>
                                </div>
                                <div class="form-group row mt-1 mb-0">
                                    <label for="password" class="col-sm-3">Password:</label>
                                    <input type="password" class="form-control col-sm-8" id="register-password"
                                           name="password"
                                           required>
                                </div>
                                <div class="form-group row mt-1 mb-0">
                                    <label for="password" class="col-sm-3">Confirm Password:</label>
                                    <input type="password" class="form-control col-sm-8" id="confirm-password"
                                           name="password2"
                                           required>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 mt-1"></div>
                                    <button type="button" class="col-sm-8 mt-1 black-btn btn-block"
                                            onclick="registerUser('{% url "accounts:ajax_register_user" %}');">Register
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success"
                            onclick="verifyUsername('{% url "accounts:ajax_login_user" %}');">Continue
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block extra_script %}
    <script>
        $(document).ready(function () {
            {% if not request.user.is_authenticated %}
                $('#loginModal').modal('show');
            {% else %}
                startCount()
            {% endif %}
        });

        var username = '{{ request.user.username }}';
    </script>
{% endblock extra_script %}


